<!DOCTYPE html>
<html>

<head>
    <style>
        /* Rainbow Theme */
        /* this needs to be fixed to work with the new html structure */
        /*
        .alert-container.theme-rainbow .alert-text {
            text-shadow: 1px 1px 0 #aaa, 1px -1px 0 #aaa, -1px 1px 0 #aaa, -1px -1px 0 #aaa, 2px 2px 0px #FFB650, 4px 4px 0px #FFD662, 6px 6px 0px #FF80BF, 8px 8px 0px #EF5097, 10px 10px 0px #6868AC, 12px 12px 0px #90B1E0;
        }
        .alert-container.theme-rainbow img {
            box-shadow: 1px 1px 0 #aaa, 1px -1px 0 #aaa, -1px 1px 0 #aaa, -1px -1px 0 #aaa, 2px 2px 0px #FFB650, 4px 4px 0px #FFD662, 6px 6px 0px #FF80BF, 8px 8px 0px #EF5097, 10px 10px 0px #6868AC, 12px 12px 0px #90B1E0
        }
        /* End Rainbow Theme */
        /*v
        .title-text {
            color: white;
            font-family: sans-serif;
            font-size: 36pt;
            font-weight: bold;
            text-align: center;
            text-shadow: 2px 2px 0px #74ff00, -2px -2px 0px #00e7ff, -2px 0px 0px #ff8f00, 0px -2px 0px red;
        }
        */

        html,
        body {
            margin: 0;
            padding: 0;
            color: white;
        }

        #page-position-grid {
        display: grid;
        position: absolute; 
        width: 100vw;
        height: 100vh;
        }

        
        #page-position-grid > .middle-center > .position-grid {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }
        
        /* Uncomment to see the CSS grids! */
        /*
        #page-position-grid > div {
        border: 1px solid blue;
        }
        #page-position-grid > .middle-center > .position-grid > div {
        border: 1px solid red;
        }
        */

        .alert-label {
            color: white;
            font-family: "Impact", sans-serif;
            font-weight: bolder;
            display: inline-block;
            font-size: 275%;
            text-transform: uppercase;
            -webkit-text-stroke: 3px #333;
            text-shadow: 0px 0px 3px black;
        }
        .title-position-grid {
            height: 100%;
            width: 100%;
            display: grid;
            align-items: end;
            justify-items: center;
        }

        .title-text {
            -webkit-text-stroke: 1px #333;
            color: white;
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
            font-size: 36pt;
            font-weight: bold;
            text-align: center;
            text-shadow: 0px 0px 4px black;
        }

    </style>
</head>

<body>
    <div id="template-page-position-grid" style="display: none;">
        <div class="top-left"></div>
        <div class="top-center" style="">
            <div class="title-position-grid">
                <div class="title-text">
                </div>
            </div>
        </div>
        <div class="top-right" style=""></div>
        <div class="middle-left" style=""></div>
        <div class="middle-center" style="">
            <div class="position-grid" style="">
                <div class="page-top-left"></div>
                <div class="top-center" style=""></div>
                <div class="top-right" style=""></div>
                <div class="middle-left" style=""></div>
                <div class="middle-center" style=""></div>
                <div class="middle-right" style=""></div>
                <div class="bottom-left" style=""></div>
                <div class="bottom-center" style=""></div>
                <div class="bottom-right" style=""></div>
            </div>    
        </div>
        <div class="middle-right" style=""></div>
        <div class="bottom-left" style=""></div>
        <div class="bottom-center" style=""></div>
        <div class="bottom-right" style=""></div>
    </div>
    <script src="<%=prefix%>/socket.io/socket.io.js"></script>
    <script>
        // Redirect to the correct host if needed, to avoid CSP issues.
        if (window.location.hostname !== "<%=host%>") {
            window.location = `<%=scheme%>://<%=host%>:<%=public_port%><%=prefix%>${window.location.pathname}${window.location.search}`;
        }

        var socket = io('<%=scheme%>://<%=host%>:<%=public_port%>', {
            path: '<%=prefix%>/socket.io',
            query: {
                command: 'alert-overlay',
                token: '<%=token%>'
            }
        });
    </script>



    <script>
        socket.on('new_alert', (msg) => {
            // New data received!
            msg = JSON.parse(msg)
            console.log("New alert received from server:", msg)
            enqueueAlert(msg)
        });
    </script>
    <script src='<%=prefix%>/js/alerts_overlay.js'></script>
</body>

</html>