<!DOCTYPE html>
<html>

<head>
    <style>

    </style>
</head>

<body>
    <h1>🤖⚙️ Control center</h1>
    <ul>
        <li><a href="<%=prefix%>/overlays/<%=token%>">Back to overlays index</a></li>
    </ul>
    <fieldset>
        <legend>Send an invisible chat message</legend>
        <input type="text"  id="message" cols="50"></input>
        <button id="send">Send</button>
    </fieldset>
<script src="<%=prefix%>/socket.io/socket.io.js"></script>
<script>
    var socket = io('<%=scheme%>://<%=host%>:<%=public_port%>', {
        path: '<%=prefix%>/socket.io',
        query: {
            command: 'controlcenter',
            token: '<%=token%>'
            }
        }
    );
</script>
<script>
    document.getElementById("message").addEventListener("keyup", function(event) {
        if (event.keyCode === 13) {
            event.preventDefault();
            document.getElementById("send").click();
        }
    });
    document.getElementById("send").addEventListener("click", function() {
        const message = document.getElementById("message").value
        if (message.trim() === '') {
            return
        }
        socket.emit('new_controlcenter-command', JSON.stringify(
            {
                token: '<%=token%>',
                message: message
            }
        ))
    });
</script>
</body>
</html>