<!DOCTYPE html>
<html>

<head>
    <style>
        <% if (typeof cssPartialPath !== 'undefined') { %>
            <%- include(`${cssPartialPath}`); %>
        <% } %>
    </style>
</head>

<body>
<%- include(`${htmlPartialPath}`); %>
<script src="<%=prefix%>/socket.io/socket.io.js"></script>
<script>
    var socket = io('<%=scheme%>://<%=host%>:<%=public_port%>', {
        path: '<%=prefix%>/socket.io',
        query: {
            command: '<%= command_id %>',
            token: '<%=token%>'
            }
        }
    );
</script>
<script>
    <%- include(`${jsPartialPath}`); %>
</script>
</body>
</html>