<!DOCTYPE html>
<html>

<head>
    <title>🤖 Overlays Index - smol.stream chatbot</title>
    <style>
        body {
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
        }

        </style>
</head>

<body>
    <ul>
        <li><a href="<%=prefix%>controlcenter/<%=token%>">🤖⚙️ Control center</a></li>
    </ul>
    <h4>Built-in overlays</h4>
    <ul>
        <li><a href="<%=prefix%>alerts/<%=token%>">Alerts</a></li>
    </ul>
    <h4>Custom overlays</h4>
    <ul>
        <% for (var i=0; i < overlays.length; i++) { %>
            <li>
                <a href="<%=prefix%><%=overlays[i].route.replace(':token', token)%>">
                    <strong><%=overlays[i].label%></strong> <small>(<%=overlays[i].family%>)</small>
                </a>
            </li>
        <% } %>
    </ul>
</body>

</html>