html,
body {
    height: 100%
}

#container {
    display: flex;
    align-items: center;
    height: 100%;
    text-align: center;
}

#now_playing {
    width: 100%;
    font-family: sans-serif;
    font-weight: bold;
    color: #e96c4c;
    text-shadow: 0px 0px 4px black;
}