html,
body {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "emojiwall-noto-bundle";
    src: url(<%=app_url%>/NotoColorEmoji-Regular.woff2) format('woff2');
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.particles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}

.particles span.emoji_item {
    font-family: "Noto Color Emoji", emojiwall-noto-bundle;
}

.particles img.emoji_item {
    image-rendering: pixelated;
}

.particles .emoji_item {
    position: absolute;
    display: block;
}